@import url("https://fonts.googleapis.com/css2?family=Charm&family=Edu+TAS+Beginner:wght@400;500;600&family=Noto+Serif:wght@400;500;600;700&family=Playball&family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600&display=swap");

@mixin animate-from-right(
  $duration,
  $start,
  $end,
  $delay: 0,
  $name: from-right
) {
  $uniqueName: animate-#{$name}-#{unique-id()};
  @keyframes #{$uniqueName} {
    from {
      opacity: 0;
      transform: translateX($start);
    }
    to {
      opacity: 1;
      transform: translateX($end);
    }
  }

  animation-name: #{$uniqueName};
  animation-duration: $duration;
  animation-fill-mode: both;
  animation-delay: $delay;
}

.card {
  @include animate-from-right(1s, 50px, 0, 200ms, from-right);
}

.details-title {
  @include animate-from-right(1s, 0, 0, 200ms);
  font-family: "Charm", cursive;
  font-size: 50px;
}

.details-img,
.details-p {
  @include animate-from-right(1s, 0, 0, 350ms);
}

.badge {
  @include animate-from-right(1s, 0, 0, 1000ms);
  background-color: #5a5a5a;
  color: #fbfbfb;
}

body {
  font-family: "Roboto Flex";
  background-color: #fbfbfb;
}

.details-p {
  font-family: "Charm", cursive;
  font-size: 18px;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

#piano-details-wrapper,
#backoffice-wrapper {
  margin-top: 4.5em;
}

#piano-wrapper {
  margin-top: 6.5em;
}

a.navbar-brand {
  font-family: "Charm", cursive;
  font-size: 20px;
}

h5 {
  font-weight: 600;
  font-size: 25px;
}

.footer-outer {
  font-size: 11px;
  color: #96989a;
  @include animate-from-right(1s, 0, 0, 500ms);
}

.icons {
  font-size: 15px;
}

.icons i.bi {
  cursor: pointer;
}

.span-wrapper {
  border-bottom: 1px solid #96989a;
}

.span-wrapper span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dropdown-item:hover {
  text-decoration: underline;
}

.list {
  margin-top: 4.4em;
  margin-bottom: 0;
}

.search-form {
  background-color: #9e8761;
  border: none;
  font-size: 15px;
}

.search-form::placeholder {
  color: black;
}

.search-form:focus {
  background-color: #9e8761;
  outline: 0;
  box-shadow: none;
}

.search-form::-webkit-search-cancel-button,
.search-form::-webkit-search-clear-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.piano-details img {
  width: 550px;
}

.backoffice{
  margin-left: 4.9em;
}
// #product-input{
//   position:relative;
// }
// #product-dropdown {
//   position: absolute;
//   z-index: 1000;
//   top: 0;
//   right: 0;
// }

.list {
  margin-top: 4.4em;
}

@media screen and (max-width: 1199px) {
  .details-content {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .details-p {
    padding: 0 3em;
  }

  .backoffice {
    display: none;
  }
}
